<h1><%= @pokemon.name %>の詳細</h1>

<div class="show-wrapper">

  <div class="show-left">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        覚えている技
      </div>
      <ul class="list-group list-group-flush">
        <% if @pokemon.abilities.present? %>
          <% @pokemon.abilities.each do |ability| %>
            <li class="list-group-item"><%= ability.ability %></li>
          <% end %>
        <% else %>
          <li class="list-group-item">なし</li>
        <% end %>
      </ul>
    </div>
    <%= link_to "&laquo; 戻る".html_safe, :back, class: "back" %>
  </div>

  <div class="show-right">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        使用しているトレーナー
      </div>
      <ul class="list-group list-group-flush">
        <% if @pokemon.users.present? %>
          <% @pokemon.users.each do |user| %>
            <li class="list-group-item"><%= link_to user.name, user_path(user.id) %></li>
          <% end %>
        <% else %>
          <li class="list-group-item">なし</li>
        <% end %>
      </ul>
    </div>
  </div>

</div>